/*==============================================================================================
                                        core css start 
=============================================================================================*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

p {
    text-align: justify;
    font-size: 18px;
}

h3 {
    font-size: 22px;
    font-weight: 600;
}

.donate-btn {
    background-color: #f10f0f;
    padding: 10px 22px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-top: 25px;
}

.donate-btn:hover {
    background-color: green;
}

.container-flex {
    display: flex;
}

.article-heading {
    padding: 10px 75px;
    text-align: center;
}

.article-heading p {
    text-align: center;
}

/*==============================================================================================
                                core css end
=============================================================================================*/

/* header css */
.header {
    background-image: url('images/banner/eid_zakat_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 31px;
    display: flex;
    margin-bottom: 100px;
}

.header-content {
    width: 50%;
    margin-left: 600px;
}

.header-content h1 {
    color: #fff;
    font-weight: 600;
    margin-top: 0px;
}

.header-content p {
    color: #fff;
    padding-bottom: 20px;
}

/* main-content section css */
.main-content {
    padding-bottom: 100px;
}

.mother-content {
    width: 90%;
    margin: 0 auto;
}

.content {
    width: 50%;
    padding: 10px 75px;
    border-radius: 10px;
}

.content:hover {
    box-shadow: 10px 20px 40px grey;
}

.content_bg {
    background-color: #e5d6d9;
    margin: 10px 10px;
}

.content p {
    padding-bottom: 25px;
}

.content img {
    width: 100%;
}


.con-img {
    width: 20%;
}

.con-img img {
    padding-top: 26px;
    width: 100%;
}

.con-text {
    width: 80%;
    padding-left: 35px;
}

.image-gallery {
    padding: 10px 75px;
    padding-bottom: 100px;
}

.gallery {
    background-color: rgb(146, 95, 18);
    padding: 10px 10px;
    margin: 0px 5px;
    border-radius: 10px;
}

.gallery:hover {
    box-shadow: 10px 20px 40px grey;
    cursor: pointer;
}

.gallery img {
    width: 100%;
    height: 300px;
}

.donation_fund {
    padding: 10px 75px;
    padding-bottom: 100px;
}


.fund {
    width: 33%;
    background-color: #e5d6d9;
    margin: 0px 10px;
    box-shadow: 10px 20px 30px grey;
}

.fund-article {
    background-color: #f4f4f4;
    padding: 1px 15px 25px 15px;
}

.fund img {
    width: 100%;
    height: 250px;
}

.fund-article a {
    color: #f10f0f;
    border-bottom: 1px solid #f10f0f;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.footer {
    background-color: rgb(46 42 42);
    min-height: 250px;
    font-family: 'Lobster', cursive;
    padding-top: 15px;
}

.footer h1 {
    text-align: center;
    color: #f10f0f;
    font-size: 35px;
    font-weight: 400;
}

.footer p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}