/* core css */
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

p {
    text-align: justify;
    font-size: 20px;
}

.donate-btn {
    background-color: #f10f0f;
    padding: 10px 22px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-top: 25px;
}

.donate-btn:hover {
    background-color: green;
}

.container-flex {
    display: flex;
}

/* header css */
.header {
    background-image: url('images/banner/eid_zakat_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 31px;
    display: flex;
    margin-bottom: 100px;
}

.header-content {
    width: 50%;
    margin-left: 600px;
}

.header-content h1 {
    color: #fff;
    font-weight: 600;
    margin-top: 0px;
}

.header-content p {
    color: #fff;
    padding-bottom: 20px;
}

/* main-content section css */

.content {
    width: 50%;
    padding: 10px 75px;
}

.content p {
    padding-bottom: 25px;
}

.content img {
    width: 100%;
}

.article-heading {
    padding: 10px 75px;
    text-align: center;
}

.article-heading p {
    text-align: center;
}

.con-img {
    width: 20%;
}

.con-img img {
    padding-top: 26px;
    width: 100%;
}

.con-text {
    width: 80%;
    padding-left: 35px;
}

.image-gallery {
    padding: 10px 75px;
}

.gallery {
    background-color: rgb(146, 95, 18);
    padding: 10px 10px;
    margin: 0px 5px;
    border-radius: 10px;
}

.gallery:hover {
    box-shadow: 10px 20px 40px grey;
    cursor: pointer;
}

.gallery img {
    width: 100%;
}